<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head.ejs") %> 
    <body>
        <!-- Inicio Header -->
        <%-include("../partials/header.ejs") %>
        <!-- Fin Header -->
        <br>
        <!-- Inicio Detalle de Producto -->
        <h1>Hay que hacer el carito de compras en reparacion</h1>
        <br>
        <!-- Inicio del Footer -->
        <%-include("../partials/footer.ejs")%>
        <!-- Fin del Footer -->
        <script src="https://kit.fontawesome.com/5f1547b5eb.js" crossorigin="anonymous"></script>
        <!-- Scripts -->
        <%-include("../partials/scripts.ejs")%>
    </body>
</html>