@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
	margin: 0;
	box-sizing: border-box;
  }
  
  body {
	font-family: sans-serif;
	padding: 90px 0px 0;
	background-image: url(/img/fondo.jpg);
  }
  
  .header {
	/* background: linear-gradient(to top, #1f1c2c, #928dab);
	height: 80px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0; */
	background: rgb(24 24 86);
    height: 80px;
    position: fixed;
    box-shadow: 0px -10px 49px 21px;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .nav {
	display: flex;
	justify-content: space-between;
	/* max-width: 992px; */
	margin: 0 auto;
  }
  .contenedor_logo_buscrador{
	  display: flex;
  }
  .nav-link {
	color: white;
	text-decoration: none;
	height: 53px;
	width: auto;
  }
  
  .logo {
	font-size: 30px;
	font-weight: bold;
	padding: 8px 6px 0 16px;
	line-height: 80px;
  }
  
  
.search-form {
	position: relative;
	display: flex;
	padding-top: 18px;
    padding-left: 2px;
	align-items: center;
  }
  
  .search-form_input {
	border: solid 1px var(--light-gray);
	display: block;
	width: 100%;
	padding: 7px 35px 7px 7px;
	border-radius: 3px;
	height: 40px;
	font-size: 1.5em;
  }
  
  .search-form_button {
	position: absolute;
	right: 2px;
	height: 60%;
	background-color: #ffffff;
	border: none;
	border-left: solid 1px var(--light-gray);
	color: var(--gray);
	cursor: pointer;
  }
  .nav-menu {
	display: flex;
	margin-right: 40px;
	list-style: none;
  }
  
  .nav-menu-item {
	font-size: 18px;
	margin: 0 10px;
	line-height: 80px;
	text-transform: uppercase;
	width: max-content;
  }
  
  .nav-menu-link {
	padding: 8px 12px;
	border-radius: 3px;
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
	background-color: #034574;
	transition: 0.5s;
  }
  
  /* TOGGLE */
  .nav-toggle {
	color: white;
	background: none;
	border: none;
	font-size: 30px;
	padding: 0 20px;
	line-height: 60px;
	cursor: pointer;
  
	display: none;
  }

  /* footer */
  footer{
    background: rgb(24 24 86);
    width: 100%;
    height: 100%;
    bottom: 0;
    display:block;
}
.footContactOli{
	display: flex;
	justify-content: center;
	padding: 1.5px;
	
}    
#sosmedup ul {
	margin:0 auto;
	padding: 0; 
	display:block;
	text-align:center;
	width:100%;
	list-style:none
}
#sosmedup ul li {
	display:inline-block;
	margin:0;
	padding:0
}

#sosmedup ul li a .fa {
	font-size:27px;
	display:block;
	text-align:center;
	padding:0;
	list-style:none;
	width:43px;
	height:43px;
	line-height:43px;
	border-radius:99em;
	margin:0 auto 10px;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}
#sosmedup ul li a .fa-facebook,#sosmedup ul li a .fa-facebook-square{color:#3F5B9B}
#sosmedup ul li a .fa-twitter {color: #0f5781}
#sosmedup ul li a .fa-linkedin{color:#306eeb}
#sosmedup ul li a .fa-youtube, #sosmedup ul li a .fa-youtube-play, #sosmedup ul li a .fa-youtube-square{color: #d12b19}
#sosmedup ul li a .fa-whatsapp{color:#25D366}
#sosmedup ul li a .fa-instagram{color: #ffffff}
#sosmedup ul li a .fa-user{color:#f6ab3f}
#sosmedup ul li a #instagram {background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%); 
	-webkit-background-clip: text;
	background-clip: text; 
	-webkit-text-fill-color: transparent;
}
#sosmedup ul li a #instagram:hover{background: radial-gradient(circle at 30% 107%, #ffffff 0%, #ffffff 5%, #ffffff 45%, #ffffff 60%, #ffffff 90%); 
	-webkit-background-clip: text;
	background-clip: text; 
	-webkit-text-fill-color: transparent;
}
#sosmedup ul li a .fa:hover{color:rgb(36, 253, 65)
}
.footerContactOli{
	display: flex;
    flex-wrap: nowrap;
    bottom: 0;
    font-size: 12px;
	padding-top: 5px;
    padding-left: 10px;
    color: rgb(253, 250, 250);
}
.creditfooter{
	display: flex;
	flex-wrap: nowrap;
	bottom: 0;
	font-size: 12px;
	
	padding-bottom: 5px;
    padding-left: 5px;
	color: rgb(253, 250, 250);
}


/* Query TABLET*/
	@media (max-width: 768px) {
	body {
		font-family: sans-serif;
		padding: 60px 0px 0;
		}
	footer{
    background: rgb(24 24 86);
    width: 100%;
    height: 100%;
    bottom: 0;
    display:block;
    margin: 2px;
	}
	  .header {
		height: 60px;
	  }
	
	  .logo {
		font-size: 25px;
		padding: 8px 3px 0px 7px;
		line-height: 60px;
	  }
	  .search-form {
		position: relative;
		display: flex;
		padding-top: 10px;
		padding-left: 2px;
		align-items: center;
	  }
	  .nav-menu {
		flex-direction: column;
		align-items: center;
		margin: 0;
		background-color: #2c3e50;
		position: fixed;
		top: 60px;
		width: 100%;
		padding: 20px 0;
	
		height: calc(100% - 60px);
		overflow-y: auto;
	
		left: 100%;
		transition: left 0.3s;
	  }
	
	  .nav-menu-item {
		line-height: 70px;
	  }
	  .nav-link {
		  color: white;
		  text-decoration: none;
		  height: 37px;
		  padding: 3px 0px 0 0px;
		  width: auto;
	  }
	
	  .nav-menu-link:hover,
	  .nav-menu-link_active {
		background: none;
		color: #83c5f7;
	  }
	
	  .nav-toggle {
		display: block;
	  }
	
	  .nav-menu_visible {
		left: 0;
	  }
	
	  .nav-toggle:focus:not(:focus-visible) {
		outline: none;
	  }
	}
/* Query Movil*/
@media (max-width: 460px) {
	body {
		font-family: sans-serif;
		padding: 60px 0px 0;
	  }
	footer{
    background: rgb(24 24 86);
    width: 100%;
    height: 100%;
    bottom: 0;
    display:block;
    margin: 2px;
}
	  .header {
		height: 60px;
	  }
	
	  .logo {
		font-size: 25px;
		padding: 8px 3px 0px 7px;
		line-height: 60px;
	  }
	  .search-form {
		position: relative;
		display: flex;
		padding-top: 10px;
		padding-left: 3px;
		align-items: center;
	  }
	  .search-form_input {
		border: solid 1px var(--light-gray);
		display: block;
		width: 100%;
		padding: 7px 35px 7px 7px;
		border-radius: 3px;
		height: 40px;
		font-size: 1em;
	  }

	  .nav-menu {
		flex-direction: column;
		align-items: center;
		margin: 0;
		background-color: #2c3e50;
		position: fixed;
		top: 60px;
		width: 100%;
		padding: 20px 0;
	
		height: calc(100% - 60px);
		overflow-y: auto;
	
		left: 100%;
		transition: left 0.3s;
	  }
	
	  .nav-menu-item {
		line-height: 70px;
	  }
	  .nav-link {
		  color: white;
		  text-decoration: none;
		  height: 37px;
		  padding: 3px 0px 0 0px;
		  width: auto;
	  }
	
	  .nav-menu-link:hover,
	  .nav-menu-link_active {
		background: none;
		color: #83c5f7;
	  }
	
	  .nav-toggle {
		color: white;
		background: none;
		border: none;
		font-size: 30px;
		padding: 0 7px 7px 6px;
		line-height: 60px;
		cursor: pointer;
	  }
	
	  .nav-menu_visible {
		left: 0;
	  }
	
	  .nav-toggle:focus:not(:focus-visible) {
		outline: none;
	  }
	}