.divSection_detalle{
    display: flex;
    justify-content: center;
}
.section_detalle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.titulo_detalle{
    display: flex;
    font-size: larger;
    margin: 12px;
    color: rgb(24 24 86);
    justify-content: center;
}
.subtituloDetail{
    font-style: italic;
    text-align: center;
    color: rgb(24 24 86);
}
.caracteristicas{
    /* background-color: aliceblue;
    padding: 35px;
    border-radius: 10%; */
    background-color: rgb(219 219 219 / 72%);
    box-shadow: 10px 10px 16px 5px;
    padding: 56px;
    /* width: 285px; */
    border-radius: 42px;
    border: solid 0px rgb(24 24 86);
    margin: 1rem 1rem 1rem 2rem;
    color: rgb(24 24 86);
    font-style: oblique;
    line-height: 26px;
    text-indent: 24px;
}


.ImgCar_detalle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addCar{
    /* border-radius: 6px;
    color: #006797;
    padding: 1% 3%;
    margin: 2px; */
    padding: 5px 34px 5px 34px;
    border-radius: 23px;
    background-color: rgb(24 24 86);
    color: white;
    border: none;
    font-size: 19px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.container-cuadroImg{
    display: flex;
    justify-content: center ;
    margin-bottom: 6px;
    /* width: min-content; */
    padding: 3%;
    border-radius: 6px;
}
.cuadroImgBig{
    width: 250px;
    /* height: 250px;
    box-shadow: 0 0px 5px #006797; */
    max-height: 100%;
    border-radius: 40px;
    box-shadow: 0px 0px 9px;
}

.cuadroImg {
    width: 116px;
    height: 116px;
    box-shadow: 0 0px 5px #006797;
}
.cuadroImgSmall{
    width: 116px;
    height: 116px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 22px;
}
.cuadroProducto {
    /* background-color: aliceblue; 
    margin-bottom: 6px;
    width: min-content;
    padding: 3%;
    border-radius: 6px;
    border: solid 2px #006f97;
    box-shadow: 0px 0px 5px white; */
    background-color: rgb(219 219 219 / 72%);
    box-shadow: 10px 10px 16px 5px;
    padding: 19px;
    width: 285px;
    border-radius: 42px;
    border: solid 0px rgb(24 24 86);
    margin: 1rem 1rem 1rem 2rem;
    color: rgb(24 24 86);
}
.cuadroProductoSmall {
    display: flex;
    justify-content: center;
    
}

.car_detalle {
    /* background-color: aliceblue;
    margin: 4%;
    width: min-content;
    padding: 3%;
    border-radius: 6px;
    border: solid 2px #006f97;
    box-shadow: 0px 0px 5px white;    */
    background-color: rgb(219 219 219 / 72%);
    box-shadow: 10px 10px 16px 5px;
    padding: 19px;
    width: 285px;
    border-radius: 42px;
    border: solid 0px rgb(24 24 86);
    margin: 1rem 1rem 1rem 2rem;
    color: rgb(24 24 86);
}

.ul_detalle {
    list-style: none;
    margin: 14px;
    width: 235px;
    padding: 3%;
    color: rgb(24 24 86); 
}
.containerCar-center {
    display: flex;
    justify-content: center;
}
.containerCar-Flex {
    display: flex;
    justify-content: space-between;
}
.container-center {
    display: flex;
    justify-content: center;
}
.descripcion_detalle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /* color: rgb(24 24 86); */
    padding: 1% 6%;
}
.descripcion .detalle {
    display: flex;
    flex-direction: column;
    width: 304px;
    justify-content: center;
    padding-left: 2px;
}
.d-block{
    width: 200px;
    height: 200px;
}
.carousel-inner{
    border: solid;
    width: 304px;
}


@media (min-width: 892px) {
    .ImgCar_detalle {
        display: flex;
        flex-direction: row;
        justify-content: center; 
    }
    .titulo_detalle{
        display: flex;
        justify-content: center;
        /* position: relative; */
        font-size: xx-large;
    }
    .descripcion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 12px;
    }  
    .descripcion .detalle {
        display: flex;
        flex-direction: column;
        width: 470px;
        justify-content: center;
    }  
    .caracteristicas{
        /* background-color: aliceblue;
        padding: 35px;
        border-radius: 10%; */
        background-color: rgb(219 219 219 / 72%);
        box-shadow: 10px 10px 16px 5px;
        padding: 56px;
        /* width: 285px; */
        border-radius: 42px;
        border: solid 0px rgb(24 24 86);
        margin: 1rem 1rem 1rem 2rem;
        color: rgb(24 24 86);
        font-style: oblique;
        line-height: 26px;
        text-indent: 24px;
    }
} 
 