.divForm_login .retornHome_login{
    color: #006f97;;
    margin: 3px;
    text-decoration: revert;
    font-style: oblique;
}
.divForm_login .subtituloRegistro{
    display: flex;
    align-items: baseline;
    font-size: larger;
}
.form_registro{
    /* display: flex;  
    flex-direction: column;
    background-color: var(--color-1);
    border: solid 2px #006f97;
    box-shadow: 1%;
    width: min-content;
    padding: 3%;
    border-radius: 6px;
    justify-content: center ;
    background-color: aliceblue;
    box-shadow: 0 0px 5px white; */
    background-color: rgb(219 219 219 / 72%);
    box-shadow: 10px 10px 16px 5px grey;
    padding: 17px;
    width: 285px;
    border-radius: 42px;
    /* border: solid 0px rgb(24 24 86); */
    margin: 1rem 1rem 1rem 2rem;
    padding-bottom: 43px;
   
}
.input_register {
    width: 250px;
    border-radius: 4px;
    margin-top: 3%;
    /* margin-bottom: 2%; */
    padding: 1% 3%;
    /* transition: 2s; */
}
.text-danger{
    color: red;
}
/* .input_register:hover {
    width: 240px;
    height: 33px; */
    /* box-shadow: 0 5px 5px var(--color-4); 
}*/
.avatarRegister{
    width: 135px;
}
.subtitulo_registro{    
    display: flex;
    align-items: center;
}
.box-1_egistro, .box-2_registro {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.condiciones_registro {
    display: flex;
    font-size: 11px;
    flex-direction: column;
    padding: 2px;
}
.condiciones_registro .checkbox {
    display: flex;
    align-items: center;
    padding-left: 1%;
}
/* img {
    max-width: 100%;
    max-height: 100%;
} */
.img_index_product{
    max-height: 100%;
    border-radius: 40px;
    box-shadow: 0px 0px 9px;
    width: 100%;

}
.img-container {
    width: 100%;
    height: 200px;
    border: thin solid gray ;
    border-radius: 10px;
    text-align: center;
}
.is-invalid {
    border-color: red;
}
.is-valid{
    border-color: green;
}
.condiciones_registro label {
    display: flex;
    align-items: center;
    padding-left: 1%;
}
.condiciones_registro .checkbox .checkbox-in {
    width: 11px;
}
.boton_registro {
    display: flex;
    justify-content: center;
}
.boton_registro .boton-boton {
    margin: 2px;
    border-radius: 4px;
    width: 39%;
    border-radius: 0;
    transition: 1s;
    border-radius: 4px;
    padding: 1% 3%;
}
/* .boton-boton {
} */
.boton-boton:hover {
    background-color: #006f97;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.redes_registro .redes-boton {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 250px;
    border-radius: 4px;
    margin: 2px;
    transition: 1s;
    padding: 6px;
}
.redes_registro .redes-boton:hover {
    background-color: #006f97;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.redes_registro .redes-boton .redes-boton-2:hover {
    background-color: #006f97;
    color: rgb(255, 255, 255);
    font-weight: bold;
}


.img-container{
    width:auto;
} 
img{
    width: 100%;
    
}