<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head")%>
<body>
    <%-include("../partials/header")%>
    <br><br>
    <main class="datatable-container">
        <form class="datatable" action="/administrador/categories" method="POST">
            <div class="a">
                <label for="name">Agregar Categoría</label>
                <input class="form-control" type="text" name="name" placeholder="Ej: Accesorios" id="name">
            </div>

            <div class="container">
                <button type="submit" class="btn btn-primary">Crear</button>
            </div>
        </form>

        <!-- <div class="backTo">
            <a href="/administrador/categories">Volver</a>
        </div> -->
    </main>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</body>
<%-include("../partials/footer")%>
<%-include("../partials/script") %> 
</html>