<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="img/logo.jpg" type="image/x-icon"> <!--En el href poner ruta del logo para mostrar en la pagina.-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/productCarts.css">
    <link rel="stylesheet" href="tablet.css" media="screen and (min-width: 768px)">
          <!-- Font Awesone-->
    <script src="https://kit.fontawesome.com/5f1547b5eb.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
            <div class="container1"> 
               <div class="Logo"><img src="/img/logo.jpg" alt="Mundo Clasico"></div>
               <div class="buscador"> 
                <form action="">
                  <input type="text" placeholder="Buscar productos">
                  <button class="buscar">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </button>
                </form>   
              </div> 
              <div class="movil">
                <input type="checkbox" id="btn_menu">
                <label for="btn_menu" class="btn_menu">
                  <span id="btn_span_1" class="btn_span"></span>
                  <span id="btn_span_2" class="btn_span"></span>
                  <span id="btn_span_3" class="btn_span"></span>
                </label>
                <div class="container_flex">
                  <nav>
                    <ul class="container_menu"><!--  flex_column -->
                      <li><a href="#">Inicio</a></li>
                      <li><a href="#">Ofertas </a></li>
                      <li><a href="#">Carrito</a></li>
                      <li><a href="#">Contacto</a></li>
                    </ul>
                  </nav>
                </div>
            </div>   
          </header>
          <main>
              <!-- <hr> -->
              <div class="inicio"><button class="volver"><span>volver</span></button></div>
    <div class="productos-Fran">
        <strong class="moli">Mochila Spiderman</strong>
        <hr>
        <article class="imagen1">
           <img width="74%" src="/img/mochilaSpiderman.jpg" alt="Corazon-Delator">
           </article>
           <br>
           <div class="detalle-fran">
               <strong><p class="mochi"> Mochila Spiderma carrito reforzado con porta tablet -4 bolsillos internos-3 bolsillos externos</p></strong>
           <br>
               <div class="contador">
                <strong class="precio-olivia"><input class="contador2" type="number"  name="cantidad" min="0" max="15" placeholder="unidad"></strong>
                <strong><p class="precio">$5.700</p><p class="descuento">40% OFF</p></strong>
            </div>
          <br><br>
          <div class="botons">
          <button  class = "boton-agregar"><span> Agregar</span></button>
          <button  class = "boton-eliminar"><span>Eliminar</span></button>
        </div>
        <br>
        </div>   
         </div>
        
<br><hr>
         <div class="productos-Fran">
        <strong class="moli">Mochila Spiderman</strong>
        <hr>
        <article class="imagen1">
           <img width="50%"  src="/img/Harry.jpg" alt="Harry">
           </article>
           <br>
           <div class="detalle-fran">
            <strong><p class="mochi"> Libro Harry Posttre "la camara de los secretos", edicion limitada! </p></strong>           <br>
            <div class="contador">
                <strong class="precio-olivia"><input class="contador2" type="number"  name="cantidad" min="0" max="15" placeholder="unidad"></strong>
                <strong><p class="precio">$5.700</p><p class="descuento">40% OFF</p></strong>
            </div>
          <br><br>
          <div class="botons">
          <button  class = "boton-agregar"><span> Agregar</span></button>
          <button  class = "boton-eliminar"><span>Eliminar</span></button>
        </div>
        </div>   
         </div>
        </main>
        <div class="contenedor-botones">
			<button class="boton dos"><span>Comprar</span></button>
        </div>   
<!--        <div class="comprame">
    <button class= "llevar"><span>Comprar</span></button>
</div>
 -->       
       <hr>
       <!-- Inicio del footer -->
        <footer>
           <strong><p class="ContactOli">contactanos</p></strong> 
            <div id="footer-wrapper">
            <div class="footer-limit" id="footer-limit">
            <div class="footer no-items section" id="footer-1"></div>
            </div>
            </div>
            <div id="sosmedup">
            <div class="footer-social section" id="Postwidegt2" name="Footer Social Links"><div class="widget LinkList" data-version="1" id="LinkList100">
            <div class="widget-content">
            <ul>
            <li><a href="https://www.facebook.com/" rel="nofollow noopener" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
            <li><a href="https://www.instagram.com" rel="nofollow noopener" target="_blank"><i id="instagram" class="fa fa-instagram"></i></a></li>
            <li><a href="https://www.youtube.com/" rel="nofollow noopener" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
            <li><a href="https://twitter.com/" rel="nofollow noopener" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.blogger.com/follow.g?view=FOLLOW&amp;blogID=2890810791308488435" rel="nofollow noopener" target="_blank" title="Follow us on Blogger"><i class="fa fa-user"></i></a></li>
            </ul>
            </div>
            </div>
            </div>
            </div>
            <div class="creditfooter"><p> Copyright ©202, Mundo Clàsico, All Rights Reserved</p></div>
               
      </footer>
      <!-- fin del footer -->
</body>
</html>