<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Titulo -->
    <title>Registro</title>
  </head>

  <body>
    <!-- Inicio Header -->
   <header>
      <div class="header1"> 
        <div class="headerLogo"><img src="/img/logo.jpg" alt="Mundo Clasico"></div>
        <div class="buscador"> 
          <form action="">
            <input type="text" placeholder="Buscar productos">
            <button class="headerbuscar">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>   
        </div> 
        <div class="movil">
          <input type="checkbox" id="btn_menu">
          <label for="btn_menu" class="btn_menu">
            <span id="btn_span_1" class="btn_span"></span>
            <span id="btn_span_2" class="btn_span"></span>
            <span id="btn_span_3" class="btn_span"></span>
          </label>
          <div class="container_flex">
          <nav>
            <ul class="headerContainer_menu"><!--  flex_column -->
              <li><a href="#">Inicio</a></li>
              <li><a href="#">Ofertas </a></li>
              <li><a href="#">Carrito</a></li>
              <li><a href="#">Contacto</a></li>
            </ul>
          </nav>
        </div>
      </div>   
    </header>
    <!-- Fin Header -->
    <br>
    <!-- Inicio Registro -->
    <div class="divForm_login">
      <a class="retornHome_login" href="/login">Regresar al home</a>
      <form class="form_login" action="data.html" method="GET">
        <div class="subtituloRegistro">
            <h2>Registrarse</h2>
            <i class="fa-solid fa-key"></i>
  
        </div>
        <div class="subtitulo">
            <i class="fa-solid fa-user"></i>
            <h2>Datos personales</h2>
        </div>
        <div class="box-1_registro">
            <input class="input_register" type="text" name="nombre" id="nombre" placeholder="Ingresar nombre" required>
            <input class="input_register" type="text" name="apellido" id="apellido" placeholder="Ingresar apellido" required>
            <input class="input_register" type="date" name="fecha" id="fecha" placeholder="Seleccionar fecha" required>
            <input class="input_register" type="tel" name="telefono" id="telefono" placeholder="Ingrese su Telefono/Celular" required>
            <input class="input_register" type="email" name="email" id="email" placeholder="Correo electronico" required>
            <input class="input_register" type="password" name="pass" id="pass" placeholder="Escriba una contraseña" required>  
        </div>
        <div class="subtitulo_registro">
            <i class="fa-solid fa-lock"></i>
            <h2>Registrarse</h2>
        </div>  
        <div class="box-2_registro">
            <input class="input_register" type="password" name="datopass" id="datopass" placeholder="Ingresar contraseña">  
            <input class="input_register" type="password" name="datorepass" id="datorepass" placeholder="Reingresar su contraseña">
        </div>  
        <div class="condiciones_registro">
            <div class="checkbox">
                <input class="checkbox-in" type="checkbox" name="pass1" id="promociones" >
                <label for="promociones">Quiero estar al tanto de neuvas promociones</label>
            </div>
            <div class="checkbox">
                <input class="checkbox-in" type="checkbox" name="pass1" id="terminos" >
                <label for="terminos">Aceptar terminos y condiciones</label>
            </div>
        </div>
        <div class="boton_registro"> 
            <button class="boton-boton" type="submit">Enviar</button>
            <button class="boton-boton" type="reset">Cancelar</button>
        </div>
        <div class="redes_registro">
            <button class="redes-boton" type="button">
              <a href="https://accounts.google.com/signin/v2/identifier?hl=en&passive=true&continue=https%3A%2F%2Fwww.google.com%2F&ec=GAZAmgQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin" 
              class="fa-brands fa-google">
              <label class="redes-boton-2" for="google">Continuar con Google</label>
              </a>
            </button>
            <button class="redes-boton" type="button">
              <a href="https://www.facebook.com/"  class="fa-brands fa-facebook-square">
                <label class="redes-boton-2" for="facebook">Continuar con Facebook</label>
              </a>
            </button>
        </div>
      </form>
    </div>

    <!-- Fin Registro -->
    <br>
    <!-- Inicio del Footer -->
    <footer>
      <strong><p class="footerContactOli">contactanos</p></strong> 
      <div id="foot-wrapper">
        <div class="footer-limit" id="footer-limit">
          <div class="footer no-items section" id="footer-1"></div>
        </div>
      </div>
      <div id="sosmedup">
        <div class="footer-social section" id="Postwidegt2" name="Footer Social Links">
          <div class="widget LinkList" data-version="1" id="LinkList100">
            <div class="widget-content">
              <ul>
                <li><a href="https://www.facebook.com/" rel="nofollow noopener" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="https://www.instagram.com" rel="nofollow noopener" target="_blank"><i id="instagram" class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/" rel="nofollow noopener" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                <li><a href="https://twitter.com/" rel="nofollow noopener" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.blogger.com/follow.g?view=FOLLOW&amp;blogID=2890810791308488435" rel="nofollow noopener" target="_blank" title="Follow us on Blogger"><i class="fa fa-user"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="creditfooter">
        <p> Copyright ©202, Mundo Clàsico, All Rights Reserved</p>
      </div>       
    </footer>
    <!-- Fin del Footer -->
    <script src="https://kit.fontawesome.com/5f1547b5eb.js" crossorigin="anonymous"></script>
  </body>
</html>