<header class="header">
  <nav class="nav">
    <!-- Logo -->
    <!-- <div class="contenedor_logo_buscrador"> -->

      <a href="/" class="logo nav-lik">
        <img class="logo nav-link" src="/img/logo.jpg" alt="log">
      </a>
      <div class="omar">
        <form action="/search" method="GET" class="search-form">
          <input type="text" name="keywords" placeholder="Buscar productos..." class="search-form_input">
          <button type="submit" class="search-form_button"><i class="fas fa-search"></i></button>
        </form>
      </div>
    <!-- </div> -->
    <button class="nav-toggle" aria-label="Abrir menú">
      <i class="fas fa-bars"></i>
    </button>
    <ul class="nav-menu">
      <% if ( typeof session.usuario != "undefined") { %>
        <li class="nav-menu-item" style="color:white ;">
          Bienvenid@ <%= session.usuario.nombre %>
         </li>     
        <% if (session.usuario.roluser_id === 2) { %>
        <li  class="nav-menu-item">
          <a href="/administrador" class="nav-menu-link nav-link">ADMIN</a>
        </li>
        <% } %>  
         
      <% } else  { %>
        <li class="nav-menu-item">
          <a href="/usuario" class="nav-menu-link nav-link"
            >ingresar</a>
        </li>
        <li class="nav-menu-item">
          <a href="/usuario/registro" class="nav-menu-link nav-link">registrate</a>
        </li>
    <% } %> 
    
      <!-- <li class="nav-menu-item">
        <a href="/" class="nav-menu-link nav-link">home</a>
      </li> -->
      <li class="nav-menu-item">
        <a href="#" class="nav-menu-link nav-link">carrito</a>
      </li>
      
    <% if (typeof session.usuario != "undefined") { %>
      <li class="nav-menu-item">
        <a  href="/usuario/signOff" class="nav-menu-link nav-link"> cerrar sesion</a>
      </li>
    <% } %>
    
    
      
    </ul>
  </nav>
  
</header>