#fondo-mainAdmin{
    /* background: linear-gradient(to right, #71C9CE, #A6E3E9); */
    font-family: fangsong;
    color: #084298;
    font-weight: 600;
}
.active{
    color: #00692e;
    box-shadow: 1px 1px grey;
    border-radius: 7px;
}
#nav-headerAdmin{
    background-color: white;

}
#boton-adminMain{
    text-align: center;
}
body{
    color: rgb(24 24 86);
    
}
@media (min-width:768px){
    #fondo-mainAdmin{ 
        display: flex;
        flex-direction: column;
        align-items: center;
            }
    #exampleDataList { 
            max-width: 351px;
            }
    #Container-admin {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .texto-area-main{
        min-width: 351px;
    }
 }