.datatable-container{
    display: flex;
    justify-content: center;
}
.datatable{
    display: block;
    background-color: rgb(219 219 219 / 72%);
    box-shadow: 10px 10px 16px 5px grey;
    width: fit-content;
    border-radius: 42px;
    /* border: solid 0px rgb(24 24 86); */
    margin: 1rem 1rem 1rem 2rem;
    /* padding-bottom: 43px; */
    PADDING: 20PX;
}
.paginaAdm{
    color: white;
    padding-left: 4%;
    font-style: oblique;    
}
.datatableBtn{
    display: block;
    background-color: rgb(219 219 219 / 72%);
    box-shadow: 10px 10px 16px 5px grey;
    width: fit-content;
    border-radius: 42px;
    /* border: solid 0px rgb(24 24 86); */
    margin: 1rem 1rem 1rem 2rem;
    /* padding-bottom: 43px; */
    PADDING: 20PX;
}
.botonEditDelet{
    display: flex;
    width: fit-content;
}
.votonEliminar{
    border: none;
    background-color: #ff000000;
}
th{
    padding: 10px;
}
i{
    padding: 10px;
}
.fa-pen-to-square{
    color: #00692e;;
    box-shadow: 1px 1px grey;
    border-radius: 7px;
}
.fa-trash-can{
    color: red;
    box-shadow: 1px 1px grey;
    border-radius: 7px;
}
.tablaCuadro{
    font-family: fangsong;
    color: #084298;
    font-weight: 600;


}
.tablaTitulo{
    color: #084298;
    border-bottom-color: #ffffffa8;
    border-top-color: #a31f1f00;
    border-left-color: #ff000000;
    border-right-color: #ff000000;
    border-style: ridge;
    border-width: 5px;
    font-style: oblique;
    font-size: larger;
    font-family: fangsong;
    text-transform: none;
}
.tho {
    display: flex;
    justify-content: center;
    text-align: center;
}
body {
    
	background-image: url(/img/fondo/fondo.jpg);
    
  }

  .footeAdmin{
    /* position: absolute;
    top: 90%; */
    color: rgb(255, 255, 255);
  }
  h6{
    display: flex;
    justify-content: center;
    font-style: oblique;
  }
  a{
    text-decoration: none;
  }
  .a{
    padding: 15px;
  }
  .form_login{
    /* display: flex;  
    flex-direction: column;
    background-color: var(--color-1);
    border: solid 2px #006f97;
    box-shadow: 1%;
    width: min-content;
    padding: 3%;
    border-radius: 6px;
    justify-content: center ;
    background-color: aliceblue;
    box-shadow: 0 0px 5px white; */
    background-color: rgb(219 219 219 / 72%);
    box-shadow: 10px 10px 16px 5px grey;
    padding: 19px;
    width: 285px;
    border-radius: 42px;
    /* border: solid 0px rgb(24 24 86); */
    margin: 1rem 1rem 1rem 2rem;
    padding-bottom: 51px;
   
}